{% extends 'layout.html' %}

{% block title %}
Edit Spot - SpotKart
{% endblock %}

{% block content %}
<form method="post">
    <h3 class="text-center mb-3">Edit Parking Spot</h3>
  <label for="id" class="form-label w-100">Spot ID:
    <input type="number" name="id" id="id" class="from-control mb-2" required value="{{spot.id}}" readonly placeholder="Spot ID" />
  </label>

  <label for="name" class="form-label w-100">Name:
    <input type="text" name="name" id="name" class="from-control mb-2" required value="{{spot.name}}" placeholder="Name" />
  </label>

  <label for="city" class="form-label w-100">City:
    <input type="text" name="city" id="city" class="from-control mb-2" required value="{{spot.city}}" placeholder="City" />
  </label>

  <label for="available" class="form-label w-100">Number of Spots:
    <input type="text" name="available" id="available" class="from-control mb-2" required value="{{spot.no_of_slots}}" placeholder="Number of Spots" />
  </label>

  <label for="charges" class="form-label w-100">Charges:
    <input type="number" name="charges" id="charges" class="from-control mb-2" required value="{{spot.charges}}" placeholder="Charges (per hour)" />
  </label>

  <input type="submit" value="Save" class="btn btn-success mt-2 w-100">
</form>
{% endblock %}

{% block style %}
<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px auto 20px auto;
    max-width: 350px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #000;
  }

  .from-control {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .form-label {
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
  }
</style>
{% endblock %}
