{% extends 'layout.html' %}

{% block title %}
Admin Dashboard - SpotKart
{% endblock %}

{% block content %}
<h1>Overall Analysis</h1>

<div class="chart-container">
  <div class="chart-box" id="chart1"></div>
  <div class="chart-box" id="chart2"></div>
  <div class="chart-box" id="chart3"></div>
  <div class="chart-box" id="chart4"></div>
</div>
{% endblock %}

{% block style %}
<style>
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
  }

  .chart-box {
    flex: 1 1 400px;
    min-width: 300px;
    max-width: 500px;
    height: 350px;
  }
</style>
{% endblock %}

{% block script %}
<script type="application/javascript">
  Plotly.newPlot('chart1', [{
    x: {{ cities_1|tojson }},
    y: {{ counts_1|tojson }},
    type: 'bar',
    marker: { color: 'salmon' }
  }], {
    title: 'Bookings per City',
    xaxis: { title: 'City' },
    yaxis: { title: 'Bookings' }
  });

  Plotly.newPlot('chart2', [{
    x: {{ users_2|tojson }},
    y: {{ counts_2|tojson }},
    type: 'bar',
    marker: { color: 'lightblue' }
  }], {
    title: 'Bookings per User',
    xaxis: { title: 'User' },
    yaxis: { title: 'Bookings' }
  });

  Plotly.newPlot('chart3', [{
    x: {{ users_3|tojson }},
    y: {{ counts_3|tojson }},
    type: 'bar',
    marker: { color: 'mediumseagreen' }
  }], {
    title: 'Vehicles per User',
    xaxis: { title: 'User' },
    yaxis: { title: 'Vehicles' }
  });

  Plotly.newPlot('chart4', [{
    x: {{ cities_4|tojson }},
    y: {{ counts_4|tojson }},
    type: 'bar',
    marker: { color: 'goldenrod' }
  }], {
    title: 'Available Parking Spots per City',
    xaxis: { title: 'City' },
    yaxis: { title: 'Available Spots' }
  });
</script>
{% endblock %}
