{% extends 'layout.html' %}

{% block title %}
Sign Up - SpotKart
{% endblock %}

{% block content %}
<form method="post">
  <h3>Sign Up</h3>
  <input type="text" name="username" id="username" class="from-control mb-2" placeholder="@username" required />
  <input type="text" name="name" id="name" class="from-control mb-2" placeholder="Name" required />
  <input type="text" name="email" id="email" class="from-control mb-2" placeholder="Mail Id" required />
  <input type="text" name="contact" id="contact" class="from-control mb-2" placeholder="Contact No" required />
  <input type="password" name="password" id="password" class="from-control mb-2" placeholder="Set Password" required />
  <input type="text" name="city" id="city" class="from-control mb-2" placeholder="City" required />
  <input type="submit" value="Register" class="btn btn-success mt-2 w-100">
  <a class="btn-register mt-2" href="{{url_for('User.login')}}">Go to login</a>
</form>
{% endblock %}

{% block style %}
<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 100px auto 20px auto;
    max-width: 350px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #000;
  }

  .from-control {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
</style>
{% endblock %}